<footer class="ae-container-fluid ae-container-fluid--full rk-footer ">
    <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
            <ul class="rk-menu rk-footer-menu">
            </ul>
            <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">2018
                    - {{anioActual}} goCheKa </span>Todos los derechos reservados.</p>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center">
            <svg>
                <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
            </svg>
            <a href="#" class="rk-social-btn ">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
                </svg>
            </a>
            <a href="#" class="rk-social-btn ">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
                </svg>
            </a>
            <p></p>
        </div>
    </div>
</footer>